body {
  background-image: url(../fond/bg1.jpg);
    background-color: red;
    background-attachment: fixed;
    background-size: cover;
    padding: 25px;
    font-variant: small-caps;
  }
  
  p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    font-variant: small-caps;
    font-weight: bolder;
  }
  
  .main-title {
  
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    background-color: rgba(250, 250, 250, 0.7);
    padding: 30px;
    border-radius: 5px;
    width: 80%;
    height: 50px;
    /* Utilise une largeur en pourcentage pour que la boîte modale soit responsive */
    max-width: 800px;
    /* Utilise une largeur maximale pour éviter que la boîte modale ne devienne trop grande */
    margin: auto;
    /* Centre la boîte modale horizontalement */
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .modal-content {
    background-color: rgba(250, 250, 250, 0.7);
    padding: 30px;
    border-radius: 5px;
    width: 80%;
    height: 1000px;
    /* Utilise une largeur en pourcentage pour que la boîte modale soit responsive */
    max-width: 800px;
    /* Utilise une largeur maximale pour éviter que la boîte modale ne devienne trop grande */
    margin: auto;
    /* Centre la boîte modale horizontalement */
    position: relative;
    font-variant: small-caps;
  
  }
  
  
  .menu {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: rgba(250, 250, 250, 0.7);
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    z-index: 9999;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-variant: small-caps;
  }
  
  .menu li {
    list-style: none;
    padding: 10px;
  }
  
  .menu li:hover {
    background-color: rgba(250, 250, 250, 0.7);
  }
  
  .image {
    position: fixed;
    top: 85%;
    left: 93%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  .input {
    border: none;
    outline: none;
    margin: 3px;
    border-radius: 15px;
    padding: 1em;
    background-color: rgba(250, 250, 250, 0.7);
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }
  
  .placeholder{
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
  }