.container2 {
  padding: 30px;
  border-radius: 5px;
  max-width: 650px;
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.708);
  margin: 10px;
  width: 90%;
  margin: 10px;
}

.container2 .article-img {
  width: 600px;
  height: auto;
  border-radius: 5px;
}

.container2 .article-title {
  font-size: 35px;
  font-family: 'Special Elite';
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.container2 .article-description {
  display: none;
}

.container2 .markdown {
  margin-top: 25px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
}

.like {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
  cursor : pointer;
}

.like::after {
  cursor : pointer;
  content: 'like';
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.747);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}

.icon {
  width: 30px;
  height: 30px;
  transition: .2s linear;
}

.icon path {
  fill: white;
  transition: .2s linear;
}

.like:hover > .icon {
  transform: scale(1.2);
}

.like:hover > .icon path {
  fill:rgba(175, 2, 2, 0.806);
}

.like:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}


.unlike {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  position: relative;
}

.unlike::after {
  content: 'dislike';
  width: fit-content;
  height: fit-content;
  position: absolute;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.747);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: .2s linear;
  top: 115%;
}

.icon {
  width: 30px;
  height: 30px;
  transition: .2s linear;
}

.icon path {
  fill: white;
  transition: .2s linear;
}

.unlike:hover > .icon {
  transform: scale(1.2);
}

.unlike:hover > .icon path {
  fill:rgba(175, 2, 2, 0.806);
}

.unlike:hover::after {
  visibility: visible;
  opacity: 1;
  top: 105%;
}



