.latest {
    color: rgb(255, 255, 255,0.8);
    font-family:'Special Elite';
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
    font-style: oblique;
    margin-bottom: 30px;
  }

  .articlesPages .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.articlesPages .article {
  color: rgba(255, 255, 255, 0.708);
  margin: 10px;
  width: 90%; /* Ajustez la largeur selon vos besoins */  
  max-width:302px ;
}

.articlesPages p {
  display : none;
}


.articlesPages h2 {
  font-size: 25px;
  font-family:'Crimson Text';
  font-weight: 600;  
  font-variant-caps: all-petite-caps;
  margin-top: 10px;
}

.articlesPages h4 {
  font-size: 17px;
  font-family: 'GFS Neohellenic', sans-serif;
  font-variant-caps:unicase;
  margin-top: 5px;
}

.articlesPages a:hover {
  cursor : pointer;
  color : rgba(175, 2, 2, 0.806);
  transition: color 0.2s;
}